@import "/css/color.css";
@import "/css/animation.css";

body {
    font-family: 'Lato', sans-serif;
}

.h-250px {
    height: 250px;
    object-fit: cover;
}

#nav-bar {
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
}

#nav-bar .nav-item:hover {
    border-bottom: 2px solid var(--blue);
}

.logo {
    width: inherit;
    height: 50px;
    background-color: black;
}

.search {
    background-color: var(--blue);
    width: 69px;
    height: 69px;
    color: var(--white);
}


.swiper-container {
    height: 640px;
}

.swiper-container.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 640px;

    background: var(--white);

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-header .swiper-slide::before {
    content: "";
    width: 100%;
    height: 640px;
    position: absolute;
    background-color: rgba(0, 0, 0, var(--opacity-sm));
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 0;
    background-color: var(--blue);
}

.swiper-container ul {
    border: 0;
}


.btn-primary {
    background-color: var(--blue);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--red);
    border: 0;
}

.btn-find {
    width: 100px;
}

.form-search .btn-primary {
    background-color: #3742fa;
}

.form-search .btn-primary:hover {
    background-color: var(--red);
}

.card-text {
    opacity: var(--opacity-md);
}

.services .fs-icon {
    font-size: 32px;
}

.bg-gray,
.bg-gray-title {
    position: relative;
    z-index: 1;
}

.bg-gray::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100vw;
    height: 600px;
    background-color: var(--gray);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.bg-gray-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100vw;
    height: 138px;
    background-color: var(--gray);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.places.bg-gray-title::before {
    content: "";
    height: 210px;
}

.places.bg-gray::before {
    content: "";
    height: 1200px;
}

.destination .btn,
.places .btn {
    border-radius: 100px;
    margin: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.subscribe {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    background: url("/img/313.jpg") no-repeat center / 100%;
}

.subscribe::before {
    content: "";
    top: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    z-index: -1;
}

.footer .favicon {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.footer,
.footer .list-group-item {
    background-color: var(--bg-footer);
}

.footer li {
    border: 0;
}

.bg-blue {
    background-color: var(--blue);
}

.destination .card:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition-duration: .5s;
    color: black;
}

.destination .card-img {
    position: relative;
    z-index: 0;
}

.destination .card:hover>.card-img::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
    animation-name: fadeup;
    animation-duration: .5s;
}



.fadedown {
    animation-name: fadedown;
    animation-duration: .5s;
}

.destination .card:hover button {
    background-color: var(--red);
}

.destination .card:hover h4 {
    color: black !important;
}

.places .card:hover {
    top: -30px;
    animation-name: top;
    animation-duration: .5s;
    animation-play-state: running;
}

.places .card:hover button {
    background-color: var(--red);
}

/* Destination */
.people-says-slide img {
    height: 1000px;
    width: 50%;
    object-fit: cover;
}

.people-says-text {
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* Destination-checked */
.swiper-container-multi {
    overflow: hidden;
}

.swiper-container-multi.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.destination-checked .title {
    position: relative;
}

/* .destination-checked .title::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
} */