@import "/css/color.css";

.logo {
    width: inherit;
    height: 50px;
    background-color: black;
}

.search {
    background-color: var(--blue);
    width: 64px;
    height: 64px;
    color: var(--white);
}

.swiper-container {
    height: 640px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--white);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.text-white {
    color: var(--white);
}

.btn-find {
    width: 100px;
}

.card-text {
    opacity: var(--opacity-md);
}

.services .fs-icon {
    font-size: 32px;
}

.destination .btn,
.places .btn {
    border-radius: 100px;
    margin: 10px;
}

.subscribe {
    width: 100vw;
    height: 400px;
    position: relative;
    z-index: 1;
}

.subscribe::before {
    content: "";
    top: 0;
    width: 100vw;
    height: 400px;
    background: url("/img/313.jpg") no-repeat center / 100%;
    position: absolute;
    z-index: -1;
}

.footer .favicon {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
}

.footer li {
    border: 0;
}