@import "../css/color.css";
@import "../css/animation.css";

body {
    font-family: 'Lato', sans-serif;
}

.form-control {
    border: none;
}
input::placeholder {
    color:rgba(0, 168, 255,.6) !important;
}
#promocode::placeholder {
    color: rgba(241, 196, 15,0.6) !important;
}
.form-control {
    border-bottom: 1px solid rgba(0, 0, 0,.2);
}
.form-control:focus {
    border-bottom: 3px solid var(--blue);
}
#promocode {
    border: 1px solid rgba(0, 0, 0,.2);
}
#promocode:focus{
    border-bottom: 3px solid var(--yellow);
}
button:focus {
    outline: none !important;
}
#redeem-btn {
    color: #fff;
    border: none;
    border-radius:0 10px 10px 0;
    background: linear-gradient(rgba(241, 196, 15,1.0), rgba(243, 156, 18,1.0), rgba(211, 84, 0,1.0));
}
#selection {
    color: #6c757d !important;
}
.payinfo h4 {
    color: var(--red) !important;
}
.payinfo .days {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--blue);
}
.payinfo .price {
    text-decoration: underline;
}
.payinfo .discount {
    color: var(--yellow);
}
.payinfo .total {
    font-size: 24px;
    color: var(--orange);
}